* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d5954;
  font-weight: bolder;
  font-family: 'poppins', sans-serif;
}

.logo {
  color: rgba(226, 226, 226, 1);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;

  justify-content: space-around;
  width: 30%;
  text-decoration: none;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgba(226, 226, 226, 1);
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 1.4px;
  background-color: rgba(226, 226, 226, 1);
  margin: 5px;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    height: 92vh;
    right: 0px;
    top: 8vh;
    background-color: rosybrown;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }

  @media screen and (max-width: 1024px) {
    .nav-links {
      width: 60%;
    }
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle.line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle.line2 {
  opacity: 0;
}
.toggle.line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
